* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family:  Roboto, Arial, sans-serif;
}

nav {
  background-color: #333;
  padding: 0.75rem;
}

nav a {
  color: white;
  padding: 0.5rem 1rem;
  display: block;
}

main {
  max-width: 840px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  color: #222;
}

main img {
  width: 150px;
  height: auto;
  border: 2px solid #ccc;
  padding: 4px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  display: block;
  margin: 0 auto 1rem;
  float: right;
  margin: 0 0 1rem 1rem;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative;
}

aside img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 1rem;
}

aside h2 {
  position: absolute;
  top: 65px;
  left: 200px;
}

p {
  padding: 0;
  margin: 1rem;
}
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
  padding-top: 1rem;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
}

.indent {
  padding-left: 2rem;
}
 